@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
header {
        position: fixed;
        height: 60px;
        padding: 10px;
        background-color: yellow;
        color: lightseagreen;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-shadow: 5px 5px 5px 5px white;
}

.soneca{display: flex;}

.soneca>li {
    list-style: none;
    background-color: #fff;
    padding: 5px 10px;
    color: lightblue;
    margin-left: 15px;}

    body {
    background-color: lightblue;
   
}
main {
    max-width: 85%;
    margin: 0 auto;
    background-color: rgba(11, 255, 255, 0.7);
    padding: 80px 20px 50px 20px;
a {
    color: blue;
    text-decoration: none;}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-top: 50px;
    border-radius: 10px;
}

.Fase1 {
    display: flex;
    justify-content: center;
    color: white;
font-size: 23px;
}

.Fase2 {
    display: flex;
    justify-content: center;
    color: white;
font-size: 20px;
}

.Fase3 {
    display: flex;
    justify-content: flex-start;
    color: white;
}

.Fase{
display: flex;  
justify-content:space-around;
flex-wrap: wrap;
text-align: center;
}

}


p{color: #fff;
    font-size: 15px;}

    h2,h3,h4,h5{
    color: #fff;
    font-size: 30px;
    font-weight: bold
}


li {
    list-style: none;
    color: #fff;
    font-size: 25px;
}    
div {
    padding: 5px 5px 0 5px;
}

footer{
    color: #fff;
    background-color: black;
text-align: center;
}